.comment-list__title{
    margin-bottom: 24px;
}

.comment-separator{
    width: 100%;
    margin: 16px 0px;
    
} 

.comment-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;


}



.comment__wrap ul{
    display: flex;
    flex-direction: row;
    align-items: center;

    
}

.comment-separator{
    width: 100%;
    height: 1px;
    background-color: #EEEEEE;
    border: none;
}

@include responsive(mobile){
    .comment__wrap ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    .metadata-calender ul{
        display: flex;
        flex-direction: row; 
    }

    }
}