.comment-form__title{
    margin-bottom: 24px;
}

.comment-form__wrap{
    width: 100%;
    padding: 16px;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.comment-name{
    margin-bottom: 8px;
    height: 48px;
    padding: 16px 8px;
    background-color: #E6E6E6;
    border: none;
    &:focus{
        outline: none;
        text-align: start;
        padding-left: 16px;
        
        &::placeholder{
            color: transparent;
        }
    }
}

.comment-form-bottom{
    width: 100%;
    display: flex;
    flex-direction: row;

    .comment-text{
        width: 100%;
        padding: 16px 8px;
        background-color: #E6E6E6;
        border: none;
        &:focus{
            outline: none;
            text-align: start;
            padding-left: 16px;
            
            &::placeholder{
                color: transparent;
            }
        }
    }
    
    .comment-button{
        width: 144px;
        height: 48px;
        margin-left: 8px;
        background-color: $color-white;
        border: 2px solid $color-primary;
        &:focus{
            outline: none;
        }
        &:hover{
            color: white;
            background-color: $color-primary;
        }
    }

    
}

@include responsive(mobile){
    .comment-form__title{
        margin-bottom: 16px;
    }

    .comment-name{
        padding: 8px 16px;
    }


    .comment-form-bottom{
        display: flex;
        flex-direction: column;

        

        .comment-text{
            height: 96px;
            padding: 8px 16px 68px 16px;
            
            
            
        }
    
        .comment-button{
            display: flex;
            color: $color-primary;
            margin-left: 0px;
            margin-top: 8px;
            width: 100%;
            justify-content: center;
            
        }

    }

    
}

