.article-title{
    width: 100%;
    a{
        color: $color-primary;

        &:hover{
            color: $color-title-hover;
        }
    }
   
}

.article-link{
    
    a{
        color: $color-text;
    }
}

.featured-article{
    width: 100%;
    
       .feature-article-img{
          margin: 18px 0px;
          
       }
    
       .feature-article-metadata{
          margin: 18px 0px;
       }
    
       .article_title{
          margin: 18px 0px;;
       }

@include responsive(mobile){
    .feature-article-img{
        
        margin: 0px 0px 8px 0px;
    }

    .feature-article-metadata{
        margin: 8px 0px;
    }

    .featured-article-title{
        margin: 8px 0px;
    }
    
}
    .article-description{
        display: flex;
        flex-direction: column;
        
    }

}
    
       