.header-font{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.25%;
    color: $color-primary;
}


.nav-font{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: $color-text;
}

.metadata-font{
    color: $color-text-muted;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 125%;
    
}

.comment-font{
    color: $color-text-muted;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 125%;
}


.article-title-font{
    color: $color-primary;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 125%;
}

.article-text-title-font{
    color: $color-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
}

.article-text-font{
    color: $color-text;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
}

.comment-text-font{
    color: $color-text;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
}

.article-link-font{
    color: $color-text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.form-title-font{
    color: $color-text;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 150%;
}

.form-text-font{
    color: $color-text-muted;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 200%;
}

.placeholder-font {
    color: $color-text-muted;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    
}

.placeholder-button-font{
    color: $color-primary;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    
}

.footer-font{
    color: $color-text;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
}

.archive-title-font{
    color: $color-text-muted;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 125%;
}

.comment-title-font{
    color: $color-text;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
}

.comment-list-font{
    color: $color-text-muted;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
}

.metadata-name-font{
    color: $color-text;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
}

.placeholder-form-font{
    color: $color-text-muted;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
}



@include responsive(mobile){
    .metadata-font{
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 125%;
    }

    .comment-font{
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 125%;
    }

    .article-title-font{
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 125%;
        text-align: left;
    }

    .article-text-title-font{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 125%;
    }

    .form-text-font{
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 125%;
    }

    .form-title-font{
        color: $color-text;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
    }

    .placeholder-font{
        color: $color-text-muted;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 100%;
        padding: 2px 2px;
    }

    .placeholder-button-font{
        color: $color-white;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 100%;
        text-indent: 7px;
        margin: 0 auto;
        
    }

    .footer-font{
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 200%;  
    }

    .archive-title-font{
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 125%;
    }

    
    .metadata-name-font{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 100%;
    }
    .metadata-date, .metadata-comments{
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 125%;
    }
    .article-text-font{
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 125%;
    }

    .input__button .placeholder-font{
        color: $color-primary;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
        padding: 8px 16px;
    }

    .comment-list-font{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
    }

    .comment-title-font{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
    }

    .comment-text-font{
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 125%;
    }

    .placeholder-font{
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 100%;
    }

    .placeholder-button-font{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
    }
    
    .article-text-font{
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 125%;
    }

}