.footer{
    text-align: center;
    
    a{
        color: $color-primary;
    }

    div{
        display: inline-block;
    }
}

@include responsive(mobile){
    .footer{
        div{
            display: block;
        }
    }

    .dash{
        display: none;
    }

    .copyright{
        margin: 1em 0px;
    }

    .contact{
        margin: 1em 0px;
    }



}