.hamburger-menu{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    
}

body.hamburger-open .hamburger-menu {
    animation: hamburgerOpen 0.5s;
    animation-fill-mode: forwards;
    display: block;
}

body.hamburger-close .hamburger-menu {
    animation: hamburgerClose 0.5s;
    animation-fill-mode: forwards;
    display: block;
}