.header, .header-main{
    width: 100%;
    text-align: center;
    

    .header__logo{
        width: 100%;
        margin: 30px auto;
    
    }

    .header-navigation{
        margin-top: 30px;
    }

}





.scrolled{
    
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 0px;
    
    
}

@include responsive(mobile){
    .header__logo{
        display: flex;
        justify-content: flex-end;
        
    }

    .scrolled{
        left: 45%;
    }

   
}

