.article{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 40px 0px;
    @include clearfix;
}

.article-img{
    width: 28.5%;
       
}


.article-text{
    width: 69%;
    
}

@include responsive(mobile){

    .article-description, .article-link{
        display: none;
    }

    
    .article{
        display: block;
    }
    
    .article-img{
        width: 100%;
        
    }
    
    
    .article-text{
        
        width: 100%;
        
    }

    .article-responsive-frame{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        
    }

    .article{
        margin: 0px 0px 20px 0px;
    }

    .article-text{
        display: flex;
        flex-direction: column-reverse;
    }


}

.article-title{
    margin-bottom: 16px;
}

.article-description{
    margin: 16px 0px;
}

.article-link{
    margin: 16px 0px;
}

@include responsive(mobile){
    .article-title{
        margin-bottom: 0px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }

    .article-responsive-frame .article{
        &:first-child{
            margin: 0px 16px 0px 0px;
        }
    }
}