.ic {
    width: 11px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;

   
    &.ic--arrow-right {
        background-image: url(/assets/ArrowRight.svg);
        vertical-align: middle;
    }

    
    &.ic--arrow-left{
        background-image: url(/assets/ArrowLeft.svg);
        vertical-align: middle;
      
    }

    &.ic--menu{
        background-image: url(/assets/dashicons_menu.svg);
        vertical-align: text-bottom;
        float: right;
        display: none;
    }

    &.ic--close{
        background-image: url(/assets/ion_close-sharp.svg);
        vertical-align: text-bottom;
         
      
        
    }

}

@include responsive(mobile){
    .ic{
        &.ic--menu{
            width: 14px;
            height: 10px;
            display: block;
            margin-left: 60px;
        }
        &.ic--close{
            width: 14px;
            height: 10px;
            display: block;
            margin-left: 60px;
            margin-right: 15px;
        }
    }
}