.featured-article img{
    width: 100%;
    max-width: 1120px;
}

header .header__logo img{
    height: 40px;
}

.article-img{
    margin-right: 24px ;
    
    img{
        width: 100%;
    }
}

@include responsive(mobile){
    header .header__logo img{
        height: 14px;
    }
}