*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: $color-text;
    

    a{
        text-decoration: none;
        color: $color-text;
        &:visited, &:hover {
            color: inherit;
        }
        &:active{
            color: $color-text;
        }
    }

    button{
        &:hover{
            cursor: pointer;
        }
    }
    
}