.feature-article-metadata{
    li{
        display: inline-block;
    }
    .metadata-link{
        color: $color-primary;
    }
}

.article-metadata{
        margin: 16px 0px;
        li{
            display: inline-block;
        }
        .metadata-link{
            color: $color-primary;
        }

    }

    // horisontal dashes
.metadata-comments, .metadata-date,.metadata-comment-date{
    @include displayDash;
}


@include responsive(mobile){
    .metadata__wrap ul{
        flex-direction: column;
        align-items: flex-start;
    }
    .metadata-calender ul{
        flex-direction: row;
    }
    .articles .metadata-comments{
        display: none;
    }
    .article-metadata .clear-content{
            display: none;
        }

    .metadata-comments, .metadata-date{
        @include mobileDash;
    }

    .article-metadata{
        margin: 8px 0px;
    }

    .metadata-calender{
        margin: 8px 0px;
    }

    .metadata-comment-date{
        @include mobileClear;
    }

    
    }




        

    
