.header__navigation{
    text-align: center;
}

.header__navigation li{
    display: inline-block;
    margin: 0px 16px;
}

.header__navigation a{
    text-decoration: none;

    &:hover{
        color: $color-primary;
        text-decoration: underline;
    }
}

.nav-active{
    text-decoration: underline;
        color: $color-primary;
}


@include responsive(mobile){
    
    .header__navigation{
        display: none;
        overflow: hidden;
        
        top: 0;
        width: 100%;
        margin: 135px 0px 92px 0px;
    }  

    .header__navigation li{
        display: block;
        padding: 10px;
        
     
        &:hover{
            border:1px solid $color-primary;
            background-color: $color-form-grey;
        }
    }
}

