.newsletter{
    width: 100%;
    padding: 40px 96px;
    background-color: $color-form-grey;
    display: flex;
    flex-direction: row;
    
}

.newsletter-text{
    width: 352px;
    margin-right: 128px;
    display: flex;
    flex-direction: column;
    

}

@include responsive(form){
    .newsletter{
        padding: 15px 15px;
        display:  flex;
        flex-direction: column;

        h3{
            margin-bottom: 8px;
            text-align: center;
        }
        
    }

    .newsletter-text{
        width: 100%;
        margin-bottom: 8px;
    }
}