.pagination{

   ul{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    
    list-style: none;
    
    
   }

   li{
        margin: 0 16px;
   }

   .pagination-link-active{
      color: $color-primary;
      text-decoration: underline;
      font-weight: 900;
   }

}

@include responsive(mobile){
   .pagination-link, .dots{
      display: none;
   }
}

