.form-sign-in{
    width: 352px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    .sign-in-name{
        width: 100%;
        margin-bottom: 8px;
        height: 48px;
        text-align: center;
        background-color: #E6E6E6;
        border: none;

        &:focus{
            outline: none;
            text-align: start;
            padding-left: 16px;
            
            &::placeholder{
                color: transparent;
            }
        }
    }
    
    .sign-in-email{
        width: 100%;
        margin-bottom: 8px;
        height: 48px;
        text-align: center;
        background-color: #E6E6E6;
        border: none;
        &:focus{
            outline: none;
            text-align: start;
            padding-left: 16px;
            
            &::placeholder{
                color: transparent;
            }
        }
    }
    
    .sign-in-button{
        width: 100%;
        height: 48px;
        border: 2px solid $color-primary;
        background-color: $color-white;
        &:focus{
            outline: none;
        }
        &:hover{
            color: white;
            background-color: $color-primary;
        }
    }
}

@include responsive(mobile){
    .form-sign-in{
        width: 100%;
    }
    .sign-in-button{
        color: $color-primary;
    }
}