@-webkit-keyframes hamburgerOpen {
  0% {
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

@keyframes hamburgerOpen {
  0% {
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

@-webkit-keyframes hamburgerClose {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes hamburgerClose {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header-font {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 1.25%;
  color: #50AD9C;
}

.nav-font {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #1A1A1A;
}

.metadata-font {
  color: #808080;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
}

.comment-font {
  color: #808080;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
}

.article-title-font {
  color: #50AD9C;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 125%;
}

.article-text-title-font {
  color: #50AD9C;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
}

.article-text-font {
  color: #1A1A1A;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}

.comment-text-font {
  color: #1A1A1A;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}

.article-link-font {
  color: #1A1A1A;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

.form-title-font {
  color: #1A1A1A;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 150%;
}

.form-text-font {
  color: #808080;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 200%;
}

.placeholder-font {
  color: #808080;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
}

.placeholder-button-font {
  color: #50AD9C;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
}

.footer-font {
  color: #1A1A1A;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
}

.archive-title-font {
  color: #808080;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 125%;
}

.comment-title-font {
  color: #1A1A1A;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
}

.comment-list-font {
  color: #808080;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
}

.metadata-name-font {
  color: #1A1A1A;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
}

.placeholder-form-font {
  color: #808080;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
}

@media screen and (max-width: 600px) {
  .metadata-font {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 125%;
  }
  .comment-font {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 125%;
  }
  .article-title-font {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 125%;
    text-align: left;
  }
  .article-text-title-font {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
  }
  .form-text-font {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 125%;
  }
  .form-title-font {
    color: #1A1A1A;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
  }
  .placeholder-font {
    color: #808080;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    padding: 2px 2px;
  }
  .placeholder-button-font {
    color: #F6F6F6;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    text-indent: 7px;
    margin: 0 auto;
  }
  .footer-font {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 200%;
  }
  .archive-title-font {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 125%;
  }
  .metadata-name-font {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
  }
  .metadata-date, .metadata-comments {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 125%;
  }
  .article-text-font {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 125%;
  }
  .input__button .placeholder-font {
    color: #50AD9C;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    padding: 8px 16px;
  }
  .comment-list-font {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
  }
  .comment-title-font {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
  }
  .comment-text-font {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 125%;
  }
  .placeholder-font {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
  }
  .placeholder-button-font {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
  }
  .article-text-font {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 125%;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  color: #1A1A1A;
}

body a {
  text-decoration: none;
  color: #1A1A1A;
}

body a:visited, body a:hover {
  color: inherit;
}

body a:active {
  color: #1A1A1A;
}

body button:hover {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 16px;
}

.header, .header-main {
  width: 100%;
  text-align: center;
}

.header .header__logo, .header-main .header__logo {
  width: 100%;
  margin: 30px auto;
}

.header .header-navigation, .header-main .header-navigation {
  margin-top: 30px;
}

.scrolled {
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 0px;
}

@media screen and (max-width: 600px) {
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .scrolled {
    left: 45%;
  }
}

.feature-article-metadata li {
  display: inline-block;
}

.feature-article-metadata .metadata-link {
  color: #50AD9C;
}

.article-metadata {
  margin: 16px 0px;
}

.article-metadata li {
  display: inline-block;
}

.article-metadata .metadata-link {
  color: #50AD9C;
}

.metadata-comments::before, .metadata-date::before, .metadata-comment-date::before {
  content: "\2014";
  margin: 0px 8px;
}

@media screen and (max-width: 600px) {
  .metadata__wrap ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .metadata-calender ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .articles .metadata-comments {
    display: none;
  }
  .article-metadata .clear-content {
    display: none;
  }
  .metadata-comments::before, .metadata-date::before {
    content: "\2013";
    margin: 0px 4px;
  }
  .article-metadata {
    margin: 8px 0px;
  }
  .metadata-calender {
    margin: 8px 0px;
  }
  .metadata-comment-date::before {
    content: none;
  }
}

.featured-article img {
  width: 100%;
  max-width: 1120px;
}

header .header__logo img {
  height: 40px;
}

.article-img {
  margin-right: 24px;
}

.article-img img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  header .header__logo img {
    height: 14px;
  }
}

.header__navigation {
  text-align: center;
}

.header__navigation li {
  display: inline-block;
  margin: 0px 16px;
}

.header__navigation a {
  text-decoration: none;
}

.header__navigation a:hover {
  color: #50AD9C;
  text-decoration: underline;
}

.nav-active {
  text-decoration: underline;
  color: #50AD9C;
}

@media screen and (max-width: 600px) {
  .header__navigation {
    display: none;
    overflow: hidden;
    top: 0;
    width: 100%;
    margin: 135px 0px 92px 0px;
  }
  .header__navigation li {
    display: block;
    padding: 10px;
  }
  .header__navigation li:hover {
    border: 1px solid #50AD9C;
    background-color: #F6F6F6;
  }
}

.newsletter {
  width: 100%;
  padding: 40px 96px;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.newsletter-text {
  width: 352px;
  margin-right: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1005px) {
  .newsletter {
    padding: 15px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newsletter h3 {
    margin-bottom: 8px;
    text-align: center;
  }
  .newsletter-text {
    width: 100%;
    margin-bottom: 8px;
  }
}

.footer {
  text-align: center;
}

.footer a {
  color: #50AD9C;
}

.footer div {
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .footer div {
    display: block;
  }
  .dash {
    display: none;
  }
  .copyright {
    margin: 1em 0px;
  }
  .contact {
    margin: 1em 0px;
  }
}

.archive .archive-title {
  color: #50AD9C;
  font-weight: bold;
}

.archive .archive-europe::after {
  content: "\2014";
  margin: 0px 8px;
}

.pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.pagination li {
  margin: 0 16px;
}

.pagination .pagination-link-active {
  color: #50AD9C;
  text-decoration: underline;
  font-weight: 900;
}

@media screen and (max-width: 600px) {
  .pagination-link, .dots {
    display: none;
  }
}

.ic {
  width: 11px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.ic.ic--arrow-right {
  background-image: url(/assets/ArrowRight.svg);
  vertical-align: middle;
}

.ic.ic--arrow-left {
  background-image: url(/assets/ArrowLeft.svg);
  vertical-align: middle;
}

.ic.ic--menu {
  background-image: url(/assets/dashicons_menu.svg);
  vertical-align: text-bottom;
  float: right;
  display: none;
}

.ic.ic--close {
  background-image: url(/assets/ion_close-sharp.svg);
  vertical-align: text-bottom;
}

@media screen and (max-width: 600px) {
  .ic.ic--menu {
    width: 14px;
    height: 10px;
    display: block;
    margin-left: 60px;
  }
  .ic.ic--close {
    width: 14px;
    height: 10px;
    display: block;
    margin-left: 60px;
    margin-right: 15px;
  }
}

.comment-form__title {
  margin-bottom: 24px;
}

.comment-form__wrap {
  width: 100%;
  padding: 16px;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.comment-name {
  margin-bottom: 8px;
  height: 48px;
  padding: 16px 8px;
  background-color: #E6E6E6;
  border: none;
}

.comment-name:focus {
  outline: none;
  text-align: start;
  padding-left: 16px;
}

.comment-name:focus::-webkit-input-placeholder {
  color: transparent;
}

.comment-name:focus:-ms-input-placeholder {
  color: transparent;
}

.comment-name:focus::-ms-input-placeholder {
  color: transparent;
}

.comment-name:focus::placeholder {
  color: transparent;
}

.comment-form-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.comment-form-bottom .comment-text {
  width: 100%;
  padding: 16px 8px;
  background-color: #E6E6E6;
  border: none;
}

.comment-form-bottom .comment-text:focus {
  outline: none;
  text-align: start;
  padding-left: 16px;
}

.comment-form-bottom .comment-text:focus::-webkit-input-placeholder {
  color: transparent;
}

.comment-form-bottom .comment-text:focus:-ms-input-placeholder {
  color: transparent;
}

.comment-form-bottom .comment-text:focus::-ms-input-placeholder {
  color: transparent;
}

.comment-form-bottom .comment-text:focus::placeholder {
  color: transparent;
}

.comment-form-bottom .comment-button {
  width: 144px;
  height: 48px;
  margin-left: 8px;
  background-color: #F6F6F6;
  border: 2px solid #50AD9C;
}

.comment-form-bottom .comment-button:focus {
  outline: none;
}

.comment-form-bottom .comment-button:hover {
  color: white;
  background-color: #50AD9C;
}

@media screen and (max-width: 600px) {
  .comment-form__title {
    margin-bottom: 16px;
  }
  .comment-name {
    padding: 8px 16px;
  }
  .comment-form-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comment-form-bottom .comment-text {
    height: 96px;
    padding: 8px 16px 68px 16px;
  }
  .comment-form-bottom .comment-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #50AD9C;
    margin-left: 0px;
    margin-top: 8px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.comment-list__title {
  margin-bottom: 24px;
}

.comment-separator {
  width: 100%;
  margin: 16px 0px;
}

.comment-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.comment__wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-separator {
  width: 100%;
  height: 1px;
  background-color: #EEEEEE;
  border: none;
}

@media screen and (max-width: 600px) {
  .comment__wrap ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .comment__wrap ul .metadata-calender ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.form-sign-in {
  width: 352px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-sign-in .sign-in-name {
  width: 100%;
  margin-bottom: 8px;
  height: 48px;
  text-align: center;
  background-color: #E6E6E6;
  border: none;
}

.form-sign-in .sign-in-name:focus {
  outline: none;
  text-align: start;
  padding-left: 16px;
}

.form-sign-in .sign-in-name:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-sign-in .sign-in-name:focus:-ms-input-placeholder {
  color: transparent;
}

.form-sign-in .sign-in-name:focus::-ms-input-placeholder {
  color: transparent;
}

.form-sign-in .sign-in-name:focus::placeholder {
  color: transparent;
}

.form-sign-in .sign-in-email {
  width: 100%;
  margin-bottom: 8px;
  height: 48px;
  text-align: center;
  background-color: #E6E6E6;
  border: none;
}

.form-sign-in .sign-in-email:focus {
  outline: none;
  text-align: start;
  padding-left: 16px;
}

.form-sign-in .sign-in-email:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-sign-in .sign-in-email:focus:-ms-input-placeholder {
  color: transparent;
}

.form-sign-in .sign-in-email:focus::-ms-input-placeholder {
  color: transparent;
}

.form-sign-in .sign-in-email:focus::placeholder {
  color: transparent;
}

.form-sign-in .sign-in-button {
  width: 100%;
  height: 48px;
  border: 2px solid #50AD9C;
  background-color: #F6F6F6;
}

.form-sign-in .sign-in-button:focus {
  outline: none;
}

.form-sign-in .sign-in-button:hover {
  color: white;
  background-color: #50AD9C;
}

@media screen and (max-width: 600px) {
  .form-sign-in {
    width: 100%;
  }
  .sign-in-button {
    color: #50AD9C;
  }
}

.article-title {
  width: 100%;
}

.article-title a {
  color: #50AD9C;
}

.article-title a:hover {
  color: #50BD9C;
}

.article-link a {
  color: #1A1A1A;
}

.featured-article {
  width: 100%;
}

.featured-article .feature-article-img {
  margin: 18px 0px;
}

.featured-article .feature-article-metadata {
  margin: 18px 0px;
}

.featured-article .article_title {
  margin: 18px 0px;
}

@media screen and (max-width: 600px) {
  .featured-article .feature-article-img {
    margin: 0px 0px 8px 0px;
  }
  .featured-article .feature-article-metadata {
    margin: 8px 0px;
  }
  .featured-article .featured-article-title {
    margin: 8px 0px;
  }
}

.featured-article .article-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 40px 0px;
}

.article::after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
}

.article-img {
  width: 28.5%;
}

.article-text {
  width: 69%;
}

@media screen and (max-width: 600px) {
  .article-description, .article-link {
    display: none;
  }
  .article {
    display: block;
  }
  .article-img {
    width: 100%;
  }
  .article-text {
    width: 100%;
  }
  .article-responsive-frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .article {
    margin: 0px 0px 20px 0px;
  }
  .article-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.article-title {
  margin-bottom: 16px;
}

.article-description {
  margin: 16px 0px;
}

.article-link {
  margin: 16px 0px;
}

@media screen and (max-width: 600px) {
  .article-title {
    margin-bottom: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .article-responsive-frame .article:first-child {
    margin: 0px 16px 0px 0px;
  }
}

.hamburger-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
}

body.hamburger-open .hamburger-menu {
  -webkit-animation: hamburgerOpen 0.5s;
          animation: hamburgerOpen 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: block;
}

body.hamburger-close .hamburger-menu {
  -webkit-animation: hamburgerClose 0.5s;
          animation: hamburgerClose 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: block;
}

.page-home .header {
  margin: 80px 0;
}

.page-home .featured-article {
  margin: 80px 0;
}

.page-home .articles {
  margin: 80px 0;
}

.page-home .newsletter {
  margin: 80px 0;
}

.page-home .footer {
  margin: 80px 0;
}

@media screen and (max-width: 600px) {
  .page-home .header {
    margin: 24px 0 45px 0px;
  }
  .page-home .featured-article {
    margin: 40px 0;
  }
  .page-home .articles {
    margin: 40px 0;
  }
  .page-home .newsletter {
    margin: 40px 0;
  }
  .page-home .footer {
    margin: 40px 0;
  }
}

.page-archive .header {
  margin: 80px 0;
}

.page-archive .archive {
  margin: 80px 0;
}

.page-archive .articles {
  margin: 80px 0;
}

.page-archive .pagination {
  margin: 80px 0;
}

.page-archive .footer {
  margin: 80px 0;
}

@media screen and (max-width: 600px) {
  .page-archive .header {
    margin: 24px 0 45px 0px;
  }
  .page-archive .archive {
    margin: 40px 0;
  }
  .page-archive .articles {
    margin: 40px 0;
  }
  .page-archive .pagination {
    margin: 40px 0;
  }
  .page-archive .footer {
    margin: 40px 0;
  }
}

.page-single .header {
  margin: 80px 0;
}

.page-single .featured-article {
  margin: 80px 0;
}

.page-single .articles {
  margin: 80px 0;
}

.page-single .newsletter {
  margin: 80px 0;
}

.page-single .comment-list {
  margin: 80px 0;
}

.page-single .footer {
  margin: 80px 0;
}

@media screen and (max-width: 600px) {
  .page-single .header {
    margin: 40px 0;
  }
  .page-single .featured-article {
    margin: 40px 0;
  }
  .page-single .articles {
    margin: 40px 0;
  }
  .page-single .newsletter {
    margin: 40px 0;
  }
  .page-single .comment-list {
    margin: 40px 0;
  }
  .page-single .footer {
    margin: 40px 0;
  }
  .page-single .single .responsive-clear, .page-single .single .metadata-comments {
    display: none;
  }
  .page-single .metadata__wrap ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */