.article{
    width: 100%;
    margin: 0 auto;

    .article__title{
        margin-bottom: 36px;
    }
    
    .article__metadata{
        margin-bottom: 36px;
    }

    .article__tagline, p{
        @include responsive(desktop){
            margin-bottom:36px;
        }
        @include responsive(mobile){
            margin-bottom: 10px;
        }
        
    }

    .article__image{
        @include responsive(desktop){
            margin-bottom:36px;
        }
        @include responsive(mobile){
            margin-bottom: 10px;
        }

    }
}