*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    color: $color-black;
    

    animation: fadeEffect 2s;
    
    a{
        &:visited, &:hover, &:active {
            color: inherit;
        }
    }
}



