.header {

        @include responsive(desktop){
            margin-bottom : 81px;
        }
        @include responsive(mobile){
            margin-bottom: 20px;
        }
    

    .header__title {

        @include responsive(desktop){
            margin-bottom:14px;
        }
        @include responsive(mobile){
            margin-bottom: 7px;
        }
    }

    
}