.ic {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;

    &.ic--pencil {
        background-image: url(/assets/Pencil.svg);
    }


    &.ic--arrow-right {
        background-image: url(/assets/ArrowRight.svg);
        vertical-align: middle;

    }

    
    
    &.ic--arrow-left{
        background-image: url(/assets/ArrowLeft.svg);
        vertical-align: middle;
    }
}