.post{
    max-width: 100%;

    @include responsive(desktop){
        margin-bottom:80px;
    }
    @include responsive(mobile){
        margin-bottom: 40px;
    }

    .post__title{
        margin-bottom: $margin-post-element;
 
    }

    .post__metadata{
        margin-bottom: $margin-post-element;

    }

    .post__tagline{
        margin-bottom: $margin-post-element;
 
    }
    .post__link , a{
        
        text-decoration: none;
        
        @include responsive(desktop){
            text-align: left;
        }
        @include responsive(mobile){
            text-align: right;
        }



    }

    .post__link{
    
    &:hover i{
        animation-name: animationArrow;
        animation-duration: 0.5s;
        
    }

    }

    

}



