.text-page-title {
    font-style: normal;
    font-weight: bold;
    line-height: 1.333;
    color: $color-primary;

    @include responsive(desktop){
        font-size: 54px;
        text-align: left;
    }
    @include responsive(mobile){
        font-size: 27px;
        text-align: center;
    }

}

.text-post-title {
    font-style: normal;
    font-weight: normal;
    line-height: 125%;
    color: $color-primary;
    @include responsive(desktop){
        font-size: 36px;
        
    }
    @include responsive(mobile){
        font-size: 18px;
        
    }
}

.text-page-tagline, .text-post-tagline{
    font-style: normal;
    font-weight: 300;
    line-height: 1.333;
    @include responsive(desktop){
        font-size: 24px;
        
    }
    @include responsive(mobile){
        font-size: 12px;
        
    }
}


.text-link,.text-backlink{
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    @include responsive(desktop){
        font-size: 16px;
        
    }
    @include responsive(mobile){
        font-size: 12px;
        
    }
    
    
}
.text-metadata {
    font-style: normal;
    font-weight: 300;
    line-height: 1.25;
    @include responsive(desktop){
        font-size: 16px;
        
    }
    @include responsive(mobile){
        font-size: 12px;
        
    }
}


.text-footer {
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    color: $color-black;
    @include responsive(desktop){
        font-size: 12px;
        
    }
    @include responsive(mobile){
        font-size: 8px;
        
    }

}