.wrapper {
    width: 100%;
    max-width: $width-wrapper;
    margin: 0 auto;
    @include responsive(desktop){
        padding: 0 $width-gutter;
    }

    @include responsive(mobile){
        padding: 0;
    }
}