.page-archive{
    
    .header{
        margin: 80px 0;
    }

    .archive{
        margin: 80px 0;
    }

    .articles{
        margin: 80px 0;
    }

    .pagination{
        margin: 80px 0;
    }

    .footer{
        margin: 80px 0;
    }

    @include responsive(mobile){
        .header {
            margin: 24px 0 45px 0px;
        }

        .archive{
            margin: 40px 0;
        }
    
        .articles{
            margin: 40px 0;
        }
    
        .pagination{
            margin: 40px 0;
        }
    
        .footer{
            margin: 40px 0;
        }
    
        
    }
}

