.page-home{
    .header {
        margin: 80px 0;
    }

    .featured-article {
        margin: 80px 0;
    }
    
    .articles {
        margin: 80px 0;
    }

    .newsletter {
        margin: 80px 0;
    }

    .footer {
        margin: 80px 0;
    }

    @include responsive(mobile){
        .header {
            margin: 24px 0 45px 0px;
        }

        .featured-article {
            margin: 40px 0;
        }
        
        .articles {
            margin: 40px 0;
        }
    
        .newsletter {
            margin: 40px 0;
        }
    
        .footer {
            margin: 40px 0;
        }
    }
}
