.page-single{

    .header {
        margin: 80px 0;
    }

    .featured-article {
        margin: 80px 0;
    }
    
    .articles {
        margin: 80px 0;
    }

    .newsletter {
        margin: 80px 0;
    }

    .comment-list{
        margin: 80px 0;
    }

    .footer {
        margin: 80px 0;
    }

    @include responsive(mobile){
        .header {
            margin: 40px 0;
        }
    
        .featured-article {
            margin: 40px 0;
        }
        
        .articles {
            margin: 40px 0;
        }
    
        .newsletter {
            margin: 40px 0;
        }
    
        .comment-list{
            margin: 40px 0;
        }
    
        .footer {
            margin: 40px 0;
        }

        .single{
            .responsive-clear, .metadata-comments{
                display: none;
            }
        }

        .metadata__wrap ul{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}






