<h1>Results page</h1>

<ul>
    <% data['Search'].forEach(movie =>{ %>
        <li>
            <em><%= movie['Title']%> </em> - <strong><%= movie['Year'] %></strong>
        </li>
    <% }) %>
</ul>

<a href="/">Search again</a>