<%- include('./partials/header.ejs') %>
<h1>Index page</h1>

<% blogs.forEach( (blog) => { %>
    <div>
        <h2><%= blog.title %></h2>
        <img src="<%= blog.image %>" alt="">
        <span><%= blog.created.toDateString() %></span>
        <p><%= blog.body.substring(0, 100) %>...</p>
        <a href="/blogs/<%= blog._id %> ">Read More</a>
    </div>
<% }) %>

<%- include('./partials/footer.ejs')  %> 
