*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.main {
  width: 1200px;
  margin: 0 300px;
}

.header--title {
  color: white;
  padding: 5%;
  font-size: 30px;
  background-color: rgb(192, 30, 82);
  background-image: linear-gradient(to bottom,  rgb(170, 20, 80), rgb(232, 29, 79));
  text-align: center;
  font-style: bold;
}

