@keyframes hamburgerOpen {
    0% {
        transform: translateY(-600px);
        animation-timing-function:ease-in;
       
    }

    

    100% {
        transform: translateY(0px);
        animation-timing-function:ease-in;
        
    }
    

}


@keyframes hamburgerClose {
    0% {
        transform: translateY(0px);
        animation-timing-function:ease-in;
    }

    

    100% {
        transform: translateY(-100%);
        animation-timing-function:ease-out;
        
    }
}