@mixin clearfix() {
    &::after {
      content: "";
      clear: both;
      display: block;
      overflow: hidden;
    }
  }

  @mixin responsive($breakpoint){
    @media screen and (max-width: map-get($breakpoints, $breakpoint)){
        @content;
    }
}

@mixin displayDash {
  &::before{
        content: "\2014";
        margin: 0px 8px;
    }
}

@mixin displayDashArchive {
  &::after{
        content: "\2014";
        margin: 0px 8px;
    }
}

@mixin mobileDash {
  &::before{
        content: "\2013";
        margin: 0px 4px;
    }
}

@mixin mobileClear {
  &::before{
        content: none;
    }
}