$color-primary: #50AD9C;
$color-title-hover: #50BD9C;
$color-text: #1A1A1A;
$color-text-muted: #808080;
$color-grey-light: #EEEEEE;
$color-white: #F6F6F6;
$color-form-grey: #F6F6F6;

$padding-main: 80px;
$padding-articles: 40px;

$width-wrapper: 1152px;



$breakpoints: (
    mobile: 600px,
    tablet: 1024px,
    desktop: 1920px,
    form: 1005px
);
