.pokeForm{
    margin: 20px;
    padding: 0;
}

.pokeForm--inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokeForm--inputs input{
    margin: 10px 0;
    width: 400px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.pokeForm--inputs button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid  rgb(170, 20, 80);
    background-color: white;
    outline: none;
    margin: 10px;
}