@keyframes animationArrow{
    0%{
        transform: translateX(0px);
        animation-timing-function: ease-in-out;
    }
    50%{
        transform: translateX(20px);
        animation-timing-function: ease-in-out;
    }

    100%{
        transform: translateX(0px);
        animation-timing-function: ease-in-out;
    }
    
}


@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}