$color-primary: #006699;
$color-text: #a1a1a1;
$color-black: #000;
$font-primary: 'Roboto Slab', serif;
$margin-post-element: 16px;

$width-wrapper: 1152px;
$width-gutter: 16px;

$breakpoints: (
    mobile: 600px,
    tablet: 1024px,
    desktop: 1920px
);
