<%- include("../partials/header.ejs") %>


    <div class="container">
        <header class="jumbotron">
            <div class="container">
                    <h1>Welcome to YelpCamp</h1>
                    <p>View our hand-pciked campgrounds</p>
                    <p>
                        <a class="btn btn-primary btn-large" href="/campgrounds/new">Add new campground</a>
                    </p>
            </div>
        </header>
        
        <div class="row" style="display: flex; flex-wrap: wrap;">
            <% campgrounds.forEach(campground => { %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= campground.image %>" alt="">
                        <div class="caption">
                            <h4><%= campground.name %></h4>
                        </div>
                        <p>
                            <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">More info</a>
                        </p>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

<%- include("../partials/footer") %>