*{
    margin: 0;
    padding: 0;
    --primary: #006699;
    --text: #A1A1A1;
}

.font-bold{
    font-size: 54px;
    font-weight: bold;
    color: var(--primary);
    
}

.font-regular{
    font-size: 36px;
    font-weight: normal;
    color: var(--primary);
     
}

.font-regulat-read-more{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 150%;
    
}

.font-light{
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 150%;
    
}

.font-date-light{
    font-size: 16px;
    font-weight: lighter;
    text-align: left;
    
}

.font-footer{
    font-size: 12px;
    font-weight: lighter;
    color: var(--text);
    
}

.block{
    display:block;

}

.block-margin-left{
    display: block;
    margin: 8px 0px;
    
}

.margin-bottom-title{
    margin-bottom: 14px;

}

.margin-bottom-post-element{
    margin-bottom: 16px;
    display: block;

}

.pencil{
    margin-left: 1.33px;
    margin-right: 9.6px;
    width: 13.07px;
    height: 16px;

}


body{
    font-family: 'Roboto Slab', serif;
    color: #1A1A1A;
}

.wrapper{
    width: 100%;
    max-width: 1152px;
    margin: 0 auto;

}

.wrapper .frame{
   margin: 54px 16px;

}

header{
    width: 100%;
    margin-bottom: 81px;
    margin-left: 16px;
    
}

.header-tagline{
    line-height: 100%;

}

.main{
    margin: 81px 16px;

}

.blog-post{
    width: 100%;
    margin-bottom: 80px;

}

.blogpost-title{
    width: 100%;
    line-height: 45px;
    line-height: 125%;

}

.blog-post-text{
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
    margin-top: 16px;

}

footer{
   text-align: center;

}

.ic{
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center; 
}

.ic.ic--pencil {
    background-image: url(./assets/Pencil.svg);
}

.ic.ic--arrow-right {
    background-image: url(./assets/ArrowRight.svg);
    vertical-align: middle;
}

.ic.ic--arrow-left{
    background-image: url(./assets/ArrowLeft.svg);
    vertical-align: middle;
}

/* single */

.single-blog-text{
    width: 100%;

}

.single-margin{
    margin-bottom: 54px;
    display: block;
}

.dog-img{
    background-image: url(./assets/doggy.svg);
    max-width: 736px;
    height: 414px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    
}