@-webkit-keyframes animationArrow {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
}

@keyframes animationArrow {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
}

@media screen and (max-width: 1920px) {
  .wrapper {
    padding: 0 16px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    padding: 0;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  color: #000;
  -webkit-animation: fadeEffect 2s;
          animation: fadeEffect 2s;
}

body a:visited, body a:hover, body a:active {
  color: inherit;
}

@media screen and (max-width: 1920px) {
  .header {
    margin-bottom: 81px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1920px) {
  .header .header__title {
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 600px) {
  .header .header__title {
    margin-bottom: 7px;
  }
}

.text-page-title {
  font-style: normal;
  font-weight: bold;
  line-height: 1.333;
  color: #006699;
}

@media screen and (max-width: 1920px) {
  .text-page-title {
    font-size: 54px;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .text-page-title {
    font-size: 27px;
    text-align: center;
  }
}

.text-post-title {
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  color: #006699;
}

@media screen and (max-width: 1920px) {
  .text-post-title {
    font-size: 36px;
  }
}

@media screen and (max-width: 600px) {
  .text-post-title {
    font-size: 18px;
  }
}

.text-page-tagline, .text-post-tagline {
  font-style: normal;
  font-weight: 300;
  line-height: 1.333;
}

@media screen and (max-width: 1920px) {
  .text-page-tagline, .text-post-tagline {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .text-page-tagline, .text-post-tagline {
    font-size: 12px;
  }
}

.text-link, .text-backlink {
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

@media screen and (max-width: 1920px) {
  .text-link, .text-backlink {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .text-link, .text-backlink {
    font-size: 12px;
  }
}

.text-metadata {
  font-style: normal;
  font-weight: 300;
  line-height: 1.25;
}

@media screen and (max-width: 1920px) {
  .text-metadata {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .text-metadata {
    font-size: 12px;
  }
}

.text-footer {
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  color: #000;
}

@media screen and (max-width: 1920px) {
  .text-footer {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .text-footer {
    font-size: 8px;
  }
}

.main {
  max-width: 100%;
}

@media screen and (max-width: 1920px) {
  .main {
    margin-bottom: 81px;
  }
}

@media screen and (max-width: 600px) {
  .main {
    margin-bottom: 20px;
  }
}

.post {
  max-width: 100%;
}

@media screen and (max-width: 1920px) {
  .post {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 600px) {
  .post {
    margin-bottom: 40px;
  }
}

.post .post__title {
  margin-bottom: 16px;
}

.post .post__metadata {
  margin-bottom: 16px;
}

.post .post__tagline {
  margin-bottom: 16px;
}

.post .post__link, .post a {
  text-decoration: none;
}

@media screen and (max-width: 1920px) {
  .post .post__link, .post a {
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .post .post__link, .post a {
    text-align: right;
  }
}

.post .post__link:hover i {
  -webkit-animation-name: animationArrow;
          animation-name: animationArrow;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.metadata .ic--pencil {
  margin-right: 10px;
}

.ic {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.ic.ic--pencil {
  background-image: url(/assets/Pencil.svg);
}

.ic.ic--arrow-right {
  background-image: url(/assets/ArrowRight.svg);
  vertical-align: middle;
}

.ic.ic--arrow-left {
  background-image: url(/assets/ArrowLeft.svg);
  vertical-align: middle;
}

.footer {
  text-align: center;
  margin: 0 auto;
}

.footer a {
  text-decoration: none;
  color: #000;
}

.wrapperS {
  width: 100%;
  max-width: 1152px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (max-width: 1920px) {
  .backlink {
    margin: 54px 0px;
  }
}

@media screen and (max-width: 600px) {
  .backlink {
    margin: 20px 0px;
  }
}

.backlink a {
  text-decoration: none;
}

.article {
  width: 100%;
  margin: 0 auto;
}

.article .article__title {
  margin-bottom: 36px;
}

.article .article__metadata {
  margin-bottom: 36px;
}

@media screen and (max-width: 1920px) {
  .article .article__tagline, .article p {
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 600px) {
  .article .article__tagline, .article p {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1920px) {
  .article .article__image {
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 600px) {
  .article .article__image {
    margin-bottom: 10px;
  }
}

.image {
  width: 100%;
  height: 414px;
  margin: 0 auto;
}

.page-home {
  padding: 54px 0;
}

@media screen and (max-width: 600px) {
  .page-home {
    padding: 20px 20px;
  }
}

@media screen and (min-width: 601) {
  .page-home {
    padding: 54px 0;
  }
}

.page-single {
  padding: 54px 0;
}

.page-single .main {
  margin-bottom: 81px;
}
/*# sourceMappingURL=style.css.map */